<div id="wrapper">
<header>
  <h1>Shawtie</h1>
</header>

<div id="main">

  <h2>So you want an API Key?</h2>
  <form id=invite>
  	<fieldset>
  		<ol>
  			<li>
  				<label for=email>Email</label>
  				<input id=email name=email type=email placeholder="example@domain.com" required>
  			</li>
  		</ol>
  	</fieldset>
  	<fieldset>
  		<button type=submit>Request API Key!</button>
  	</fieldset>
  </form>

</div> <!-- End main -->


<footer> </footer>
</div> <!-- End wrapper -->