<div id="wrapper">
<header>
  <h1>Shawtie</h1>
</header>

<div id="main">

  <h2>So you want an API Key?</h2>
  <form id="invite" method="post" enctype="application/x-www-form-urlencoded" action="/api/requestkey">
  	<fieldset class="show">
  		<ol>
  			<li>
  				<label for="email">Email</label>
  				<input id="email" name="email" type="email" placeholder="example@domain.com" required>
  			</li>
  		</ol>
  	</fieldset>
  	<fieldset class="show">
  		<button id="getApiKey">Request API Key!</button>
  	</fieldset>
  	<fieldset id="response" class="hide">
		<ol>
			<li>
				<label for="apikey">Your Key</label>
				<input id="apikey" type="text" name="apikey" value="" />
			</li>
		</ol>
  	</fieldset>
  	
  	<fieldset id="error" class="hide">
		<ol>
			<li>
				<label for="error-message" class="error">Error</label>
				<input id="error-message" name="error" type="text" value="" disabled="radical" />
			</li>
		</ol>
  	</fieldset>
  	
  	
  </form>

</div> <!-- End main -->


<footer> </footer>
</div> <!-- End wrapper -->